:root {
  /* ========== Base ========== */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  /* ========== Grays ========== */
  --gray-100: hsl(0, 0%, 93%);
  --gray-200: hsl(216, 8%, 88%);
  --gray-300: hsla(222, 92%, 95%, 0.6);

  /* ========== Blues ========== */
  --blue-900: hsl(235, 41%, 22%);
  --blue-800: hsl(219, 51%, 32%);
  --blue-700: hsl(219, 51%, 34%);
  --blue-600: hsl(221, 35%, 40%);

  /* ========== Accents ========== */
  --yellow-400: hsl(51, 89%, 76%);
  --lime-100: #fbf6da;

  /* ========== UI Elements ========== */
  --header-bg: hsla(0, 0%, 100%, 0.72);
  --link-color: hsl(0, 0%, 19%);
  --mega-color:hsla(259, 92%, 95%, 0.6);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "iranyekanwebregular", system-ui, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body {
  min-block-size: 100dvh;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* start-header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: min(73.125rem, 100%);
  margin-inline: auto;
  padding-block-start: 1.3121rem;
  padding-block-end: 0.4375rem;
  padding-inline: 0px;
  background-color: var(--header-bg);
  backdrop-filter: blur(1.25rem);
  position: sticky;
  inset-block-start: 0;
  transition: all 0.3s ease;
}

.logo {
  margin: 0.6875rem 1.75rem;
}

.header-ul {
  display: flex;
}

.header-ul li {
  font-size: 0.875rem;
  margin: 0 0.9375rem;
}

.header-ul li a {
  cursor: pointer;
  color: var(--link-color);
}

.header-ul > li:last-child a {
  color: var(--blue-800);
  background-color: var(--gray-300);
  border-radius: 1.3125rem;
  padding: 0.625rem 1.6875rem;
  margin-inline-start: 1.25rem;
  font-family: YekanBakhBold;
}

.header-ul > li:last-child a:hover {
  background-color: var(--lime-100);
}

.more-menu {
  display: flex;
}

.more-menu img {
  width: 0.5rem;
  margin-inline-start: 0.5rem;
}


.hamburger-icon {
  width: 1.69rem;
  display: none;
}

.hamburger-menu {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-color: var(--color-white);
  z-index: 100;
  inline-size: 100%;
  font-family: YekanBakhMedium;
  transform: translateY(-100%);
}

.cross-icon {
  inline-size: 100%;
  text-align: end;
  padding-block: 1.5625rem;
}

.cross-icon img {
  width: 1.25rem;
  margin-inline-end: 1.875rem;
}

.hamburger-menu-items {
  padding-block: 0.625rem;
  padding-inline: 1.875rem;
}

.hamburger-menu-items a {
  display: inline-block;
  color: var(--link-color);
  padding: 0.1875rem;
}

.hamburger-menu-items div {
  block-size: 0.0625rem;
  inline-size: 90%;
  background-color: var(--gray-300);
  margin-block: 0.5rem;
}

.more-item {
  display: flex;
  background-color: var(--gray-100);
  padding: 1.25rem 3.125rem;
  align-items: center;
}

.more-item img {
  width: 0.9375rem;
  margin-inline-start: 0.3125rem;
}

.more-item a {
  text-decoration: none;
  color: var(--blue-800);
  font-size: 0.85rem;
}

.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}


/* end-header */

/* mega-menu */
#show-more-menu {
  position: relative;
}

#show-more-menu ul {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: -2.18rem;
  background-color: var(--color-white);
  border-block-start: 0.31rem solid var(--yellow-400);
  border-radius: 0.75rem;
  padding-block-start: 1.25rem;
  padding-block-end: 0.62rem;
  margin-block-start: 1.43rem;
  width: 7.68rem;
}

#show-more-menu li {
  margin: 0;
  padding-inline: 1.25rem;
  padding-block: 0.62rem;
  color: var(--color-black);
  font-size: 0.8rem;
}

#show-more-menu li:hover {
  background-color: var(--mega-color);
}

#show-product-menu {
  position: relative;
}


.product-menu {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: -2.18rem;
  background-color: var(white);
  display: flex;
  justify-content: flex-start;
  border-top: 0.31rem solid var(--yellow-400);
   border-radius: 0.75rem;
   padding-block-start:0.31rem;
   margin-block-start:1.43rem;
   width: 23.25rem;
}

.product-menu a p:first-child {
  color:var(--color-black);
  font-size: 0.95rem;
}

.product-menu a p:last-child {
  color:var(--color-black);
  font-size: 0.7rem;
}

.product-menu a {
  margin: 0.62rem;
  display: block;
  padding: 0.62rem;
  border-radius: 0.31rem;
}

/* end-mega-menu */

/* banner */





/* animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





/* media query */

/* 1200 - 990 */
@media screen and (max-width:1200px) {
  #header {
    inline-size: min(58.75rem,100%)
  }
}

/* 990 - 768 */

@media screen and (max-width:990px) {
  #header {
    padding: 1.25rem 3.75rem;
  }

  .header-ul li {
    margin: 0 0.625rem;
  }

  .header-ul > li:last-child a {
    display: none;
  }

  .logo {
    margin: 0;
  }
}

/* under 720 */

@media screen and (max-width:768px) {

  #header {
    inline-size: auto;
    padding: 0.625rem 0.5rem;
  }
  .header-ul {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }
}




