:root {
  /* ========== Base ========== */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  /* ========== Grays ========== */
  --gray-100: hsl(0, 0%, 93%);
  --gray-200: hsl(216, 8%, 88%);
  --gray-300: hsla(221, 92%, 95%, 0.6);

  /* ========== Blues ========== */
  --blue-900: hsl(235, 41%, 22%);
  --blue-800: hsl(219, 51%, 32%);
  --blue-700: hsl(219, 51%, 34%);
  --blue-600: hsl(221, 35%, 40%);

  /* ========== Accents ========== */
  --yellow-400: hsl(51, 89%, 76%);
  --lime-100: #fbf6da;

  /* ========== UI Elements ========== */
  --header-bg: hsla(0, 0%, 100%, 0.72);
  --link-color: hsl(0, 0%, 19%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "iranyekanwebregular", system-ui, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body {
  min-block-size: 100dvh;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* start-header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: min(73.125rem, 100%);
  margin-inline: auto;
  padding-block-start: 1.3121rem;
  padding-block-end: 0.4375rem;
  padding-inline: 0px;
  background-color: var(--header-bg);
  backdrop-filter: blur(1.25rem);
  position: sticky;
  inset-block-start: 0;
  transition: all 0.3s ease;
}

.logo {
  margin: 0.6875rem 1.75rem;
}

.header-ul {
  display: flex;
}

.header-ul li {
  font-size: 0.875rem;
  margin: 0 0.9375rem;
}

.header-ul li a {
  cursor: pointer;
  color: var(--link-color);
}

.header-ul > li:last-child a {
  color: var(--blue-800);
  background-color: var(--gray-300);
  border-radius: 1.3125rem;
  padding: 0.625rem 1.6875rem;
  margin-inline-start: 1.25rem;
  font-family: YekanBakhBold;
}

.header-ul > li:last-child a:hover {
  background-color: var(--lime-100);
}

.more-menu {
  display: flex;
}

.more-menu img {
  width: 0.5rem;
  margin-inline-start: 0.5rem;
}

/* end-header */




/* media query */

/* 1200 - 990 */
@media screen and (max-width:1200px) {
  #header {
    inline-size: min(58.75rem,100%)
  }
}

/* 990 - 768 */

@media screen and (max-width:990px) {
  #header {
    padding: 1.25rem 3.75rem;
  }

  .header-ul li {
    margin: 0 0.625rem;
  }

  .header-ul > li:last-child a {
    display: none;
  }

  .logo {
    margin: 0;
  }
}

/* under 720 */

@media screen and (max-width:768px) {

  #header {
    inline-size: auto;
    padding: 0.625rem 0.5rem;
  }
  .header-ul {
    display: none;
  }
}




